{% extends 'plantilla.html' %}

{% block content %}

{% if user.EsDeudor %}



<main class = "container">
    <div class="row">
        <div class="col-md-9 offset-md-2 mt-5">
            <h5>Estimado {{user.Nombre}}</h5>
            <h5>Usted no ha pagado su recibo correspondiente al domicilio:</h5>
            <h5>{{user.Domicilio}}</h5>
            <h5>Su deuda es de {{user.Deuda}} pesos</h5>
            <div class="col-md-9 text-center">
                <button class = "btn btn-primary">
                    Pagar deuda
                </button>
            </div>
        </div>
    </div>
</main>


{% else %}
<p>No debe dinero</p>
{% endif %}

{% endblock %}